<section class="">
  <img
    src="../../public/imageProfile.png"
    alt="imageSantiDev"
    class="w-[250px] h-[250px] object-fill"
  />

  <div>
    <h1 class="text-[#06b6d4] text-4xl">Sergio Herrera</h1>
    <h2 class="text-[#06b6d4] text-2xl">Desarrollador Web</h2>
    <p class="text-[#06b6d4] text-1xl">Full Stack</p>
  </div>
</section>

<style>
  img {
    mask-image: linear-gradient(black 80%, transparent);
    object-fit:;
  }
</style>
