---
import CardProyecto from "./CardProyecto.astro";
---

<section class="container mt-18">
  <h2 class="text-white text-3xl font-semibold">Proyectos</h2>
  <div class="proyectos grid grid-cols-3 grid-row-2 gap-4 mt-10">
    <CardProyecto
      title="Proyecto 1"
      url="../../public/2777289.jpg"
      description=" Lorem ipsum dolor sit, amet consectetur adipisicing elit. In et quis, soluta cupiditate magnam incidunt cumque rerum obcaecati itaque autem nobis veritatis tempore atque?  "
    />
    <CardProyecto
      title="Proyecto 1"
      url="../../public/2815064.jpg"
      description=" Lorem ipsum dolor sit, amet consectetur adipisicing elit. In et quis, soluta cupiditate magnam incidunt cumque rerum obcaecati itaque autem nobis veritatis tempore atque?  "
    />
    <CardProyecto
      title="Proyecto 1"
      url="../../public/3055017.jpg"
      description=" Lorem ipsum dolor sit, amet consectetur adipisicing elit. In et quis, soluta cupiditate magnam incidunt cumque rerum obcaecati itaque autem nobis veritatis tempore atque?  "
    />
    <CardProyecto
      title="Proyecto 1"
      url="../../public/3055026.jpg"
      description=" Lorem ipsum dolor sit, amet consectetur adipisicing elit. In et quis, soluta cupiditate magnam incidunt cumque rerum obcaecati itaque autem nobis veritatis tempore atque?  "
    />
    <CardProyecto
      title="Proyecto 1"
      url="../../public/3075298.jpg"
      description=" Lorem ipsum dolor sit, amet consectetur adipisicing elit. In et quis, soluta cupiditate magnam incidunt cumque rerum obcaecati itaque autem nobis veritatis tempore atque?  "
    />
    <CardProyecto
      title="Proyecto 1"
      url="../../public/2829720.jpg"
      description=" Lorem ipsum dolor sit, amet consectetur adipisicing elit. In et quis, soluta cupiditate magnam incidunt cumque rerum obcaecati itaque autem nobis veritatis tempore atque?  "
    />
  </div>
</section>
