---
import Header from "../components/Header.astro";

import "../style/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>@santiDev | Portfolio</title>
  </head>
  <body class="font-sans bg-[#0a0f1cfa] py-10">
    <main class="max-w-[1200px] mx-auto p-10 bg-[#0a0f1c] rounded-2xl">
      <Header />
      <slot />
    </main>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"
  ></script>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
